<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Enkan: Misconfiguration</title>
    <style id="primer"></style>
    <style><!--
.request th {
    text-align: right;
    padding-right: 1em;
}
-->
    </style>
</head>

<body>
<div class="container">
    <h1 id="misconfiguration"><span>😱</span>Misconfiguration</h1>
    <div class="trace">
        <h2>Problem</h2>
        <div class="flash flash-error flash-with-icon">
            <span class="octicon octicon-alert"></span><span class="problem">This is problem.</span>
        </div>

        <h2>Solution</h2>
        <div class="flash">
            <pre class="solution">This is solution.</pre>
        </div>

        <h2><a id="detail" href="javascript:void(0)">Detail</a></h2>
        <div class="stacktrace">
            <table>
                <tbody>
                <tr>
                    <td class="source">source</td>
                    <td class="method">method</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3>Request</h3>
    <table class="request">
        <tr>
            <th>URI</th>
            <td class="uri">http://example.com/</td>
        </tr>
        <tr>
            <th>Server Port</th>
            <td class="server-port">80</td>
        </tr>
        <tr>
            <th>Server Name</th>
            <td class="server-name">80</td>
        </tr>
        <tr>
            <th>Remote address</th>
            <td class="remote-addr">80</td>
        </tr>
        <tr>
            <th>Parameters</th>
            <td class="parameters">80</td>
        </tr>

    </table>
    <script>
<!--
document.querySelector(".stacktrace").hidden = true;
document.getElementById("detail").addEventListener("click", function(e) {
   document.querySelector(".stacktrace").hidden = !document.querySelector(".stacktrace").hidden;
});

-->
    </script>
</div>
</body>
</html>
