<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Enkan Request Traces</title>
    <link id="primer-link" rel="stylesheet" type="text/css" href="../../css/primer.css"/>
    <style id="primer"></style>
</head>
<body>
<div clas="container">
    <div class="columns">
        <div class="one-half column centered">
        <h1>Enkan Request Traces</h1>
        <ol id="traces">
            <li id="trace">
                <a href="xxx">
                    <span class="method">get</span>
                    <span class="uri">/</span>
                </a>
                <span>
                    at
                    <span class="dateTime">Mon Apr 25 22:49:16 JST 2016</span>
                </span>
            </li>
        </ol>
        </div>
    </div>
</div>
</body>
</html>
